
<div class="container" >

  <div class="row">
    <div class="col-xs-6">
      <input type="text"  ng-model="hostnameId"  class="form-control" placeholder="Hostname">
    </div>
    <div class="col-xs-3">
      <input type="text" ng-model="alertId" class="form-control" placeholder="Alert">
    </div>
    <button type="submit" class="btn btn-go" ng-click="getRequestSeeker(hostnameId,alertId)">Go</button>
  </div>



  <div ng-if="noMatch">


    <div class="container no-result">
        <div class="row col-xs-9">
          <h3 class="text-center">
            No Match Found
          </h3>
        </div>
    </div>
  </div>

  <div ng-if="matchFound">

    <div class="container yes-result">
        <div ng-repeat="s in searchResult">


              <div class="row col-xs-9 top-line ">

                <div class="col-xs-4">

                  <div class="row">
                    Product: {{ s.product }}
                  </div>
                  <div class="row">
                    Team: {{ s.owner }}
                  </div>
                  <div class="row">
                    <a href=" {{ s.oncall}} ">Oncall</a>
                  </div>
                  <div class="row">
                    Runbook
                  </div>



                </div>

                <div class="col-xs-8">


                   <div class="row">
                     Info:
                   </div>
                   <div class="row">
                     <div class="info-scroll-box">
                       {{ s.info }}
                     </div>

                   </div>



                </div>


              </div>
              <div class="row col-xs-9" >
                <div class="col-xs-4">
                  <div class="row">
                    Regex:
                  </div>

                </div>
                <div class="col-xs-8">
                  <div class="row">
                    {{ s.pattern }}
                  </div>

                </div>

              </div>
              <!-- alerts -->
              <div class="row col-xs-9" >
                <div class="col-xs-4">
                  <div class="row">
                    Alerts:
                  </div>

                </div>
                <div class="col-xs-8">
                  <div class="row">

                    <div ng-repeat="alert in s.alert_set">
                      {{ alert }}
                    </div>
                  </div>

                </div>

              </div>
              <!-- end -->


        </div>

    </div>


  </div>

</div>

