<div class="container">



  <table st-table="displayedCollection" st-safe-src="templateCollection" class="table">

    <thead>
      <tr>
        <th colspan="3">
          <input st-search placeholder="global search" class="input-sm form-control" type="search" auto-focus=""/>
        </th>
      </tr>

      <tr>
       <th st-sort="name">Template Name</th>
       <th>Description</th>
       <th st-sort="owner">Author</th>
      </tr>

     </thead>
     <tbody>
      <tr ng-repeat="row in displayedCollection" ng-click="goToThisTemplate(row.id)">
        <td class="col-xs-3">{{ row.name }}</td>
        <td class="col-xs-4">{{ row.description | limitTo: 30 }}{{row.description.length >= 30 ? '...' : ''}}</td>
        <td class="col-xs-3">{{ row.owner }}</td>
      </tr>
     </tbody>
    <tfoot>

    </tfoot>
  </table>












</div>

